<%- include('partials/header'); -%>

<header>
  <div class="learn">
    <img src="/learn.png" alt="">
  </div>
  <div class="headings">
    <h2>Intership Tranning Program</h2>
    <h3>Work on live projects and get certified.</h3>
    <a href="/learn" class="btn">Start Now</a>
  </div>
</header>


<%- include('partials/footer'); -%>