<%- include('partials/header'); -%>

<ul class="modules">
  <li class="module">
    <img src="/learn.png" alt="learn icon">
    <h4>Module 1</h4>
    <p>Programming Fundamentals</p>
  </li>
  <li class="module">
    <img src="/learn.png" alt="learn icon">
    <h4>Module 2</h4>
    <p>Introduction to C++</p>
  </li>
  <li class="module">
    <img src="/learn.png" alt="learn icon">
    <h4>Module 3</h4>
    <p>Data Structures and Algorithms</p>
  </li>
  <li class="module">
    <img src="/learn.png" alt="learn icon">
    <h4>Module 4</h4>
    <p>Web Development</p>
  </li>
  <li class="module">
    <img src="/learn.png" alt="learn icon">
    <h4>Module 5</h4>
    <p>DBMS</p>
  </li>
  <li class="module">
    <img src="/learn.png" alt="learn icon">
    <h4>Module 6</h4>
    <p>Computer Networks</p>
  </li>
</ul>

<%- include('partials/footer'); -%>

